<div class="container" style="padding-left: 20px;padding-right:20px">
    <div class="row" style="margin:auto">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['']" style="font-weight: bold">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/gioithieu']" style="font-weight: bold">Giới thiệu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/lienhe']" style="font-weight: bold">Liên hệ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="font-weight: bold">Góp ý</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="font-weight: bold">Hỏi đáp</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/tracnghiem']" style="font-weight: bold" >Thi trắc nghiệm</a>
                        </li>
                    </ul>
                    <form class="form-inline">
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle">
                                Tài khoản
                            </a>
                            <div class="dropdown-content">
                                <a class="dropdown-item" [routerLink]="['/dangky']">Đăng ký</a>
                                <a class="dropdown-item" [routerLink]="['/dangnhap']">Đăng nhập</a>
                                <a class="dropdown-item" [routerLink]="['/quenmatkhau']">Quên mật khẩu</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item">Đăng xuất</a>
                                <a class="dropdown-item" [routerLink]="['/doimatkhau']">Đổi mật khẩu</a>
                                <a class="dropdown-item" [routerLink]="['/doitaikhoan']">Đổi tài khoản</a>
                            </div>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
        <div class="col-12">
            <div>
                <img src="../../assets/password.jpg" style="width: 100%">
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="row">
                <div class="col-4 left-c">
                    <div class="card">
                        <ul>
                            <li><a><i class="fas fa-lock">Thay đổi mật khẩu</i></a></li>
                            <li><a><i class="fas fa-lock">Thay đôi tài khoản</i></a></li>
                            <li><a>Đăng ký số điện thoại</a></li>
                            <li><a>Xác nhận chứng minh nhân dân</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-8">
                    <div class="card" style="padding-bottom: 20px">
                        <div class="ct-css">
                            ĐỔI MẬT KHẨU
                        </div>
                        <div>
                            <hr class="hr-css">
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form cp-css ">
                                    <div style="padding-top:5px;">
                                        <input type="password" class="form-control" placeholder="Mật khẩu hiện tại">
                                    </div>
                                    <div style="padding-top:20px">
                                        <input type="password" class="form-control" placeholder="Mật khẩu mới">
                                    </div>
                                    <div style="padding-top:20px">
                                        <input type="password" class="form-control" placeholder="Xác nhân mật khẩu mới">
                                    </div>
                                    <div style="padding-top:20px">
                                        <input type="text" class="form-control" placeholder="Verification code">
                                    </div>
                                    <button type="button" class="btn btn-danger">THAY ĐỔI</button>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="card" style="margin-top:23%;">
                                    <p class="goiy-css"><b style="color:grey">Gợi ý:</b>Dùng ít nhất 8 ký tự.<br>Kết hợp
                                        các ký tự a-z,số 0-9 và một số ký tự đặc
                                        biệt.<br>Không nên sử dụng những chuỗi dễ đoán như ngày sinh trong mật khẩu</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>