.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display:none;
    position: absolute;
    z-index: 1;
    background-color:white;
    
}
.dropdown:hover .dropdown-content{
    display:block;
}
.btn-primary{
    margin-left: 70%;
    width: 15%;
}
.pagination-css{
    margin-left: 40%;
    margin-top: 1%;
}
