.SigninText{
    padding-left:20%; 
    padding-right:20%;
    padding-top:5px;
    width: 100%;
}
.Button{
    padding-left:20%; 
    padding-right:20%;
    padding-top:5px;
    width: 100%;
    
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display:none;
    position: absolute;
    z-index: 1;
    background-color:white;
    
}
.dropdown:hover .dropdown-content{
    display:block;
}
.btn-primary{
    width: 100%;
}


