<div class="container" style="padding-left: 20px;padding-right:20px">
    <div class="row" style="margin:auto">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['']" style="font-weight: bold">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/gioithieu']" style="font-weight: bold">Giới thiệu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/lienhe']" style="font-weight: bold">Liên hệ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="font-weight: bold">Góp ý</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="font-weight: bold">Hỏi đáp</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/tracnghiem']" style="font-weight: bold" >Thi trắc nghiệm</a>
                        </li>
                    </ul>
                    <form class="form-inline">
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="font-weight: bold">
                                Tài khoản
                            </a>
                            <div class="dropdown-content">
                                <a class="dropdown-item" [routerLink]="['/dangky']">Đăng ký</a>
                                <a class="dropdown-item" [routerLink]="['/dangnhap']">Đăng nhập</a>
                                <a class="dropdown-item" [routerLink]="['/quenmatkhau']">Quên mật khẩu</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item">Đăng xuất</a>
                                <a class="dropdown-item" [routerLink]="['/doimatkhau']">Đổi mật khẩu</a>
                                <a class="dropdown-item" [routerLink]="['/doitaikhoan']">Đổi tài khoản</a>
                            </div>
                        </div>
                    </form>
                </div>
            </nav>
        </div>

        <div class="col-12">
            <div>
                <img src="../../assets/contact.jpg" style="width:100%">
            </div>
        </div>

        <div class="col-12">
            <div class="row mt-1">
                <div class="col-4">
                    <div class="row">
                        <div class="col-3" style="text-align: center">
                            <i class="fas fa-comments" style="font-size:60px"></i>
                        </div>
                        <div class="col-9">
                            <p style="font-size:20px; font-weight: bold; color:blue;">TƯ VẤN TRỰC TUYẾN</p>
                            <p style="font-size:15x">24/7 trong tuần<br> Kết nối dịch vụ trò chuyện (chat) nhanh hơn với
                                ứng
                                dụng OT
                                Members trên điện thoại di động.</p>
                            <p style="float: left;font-size:20px; font-weight: bold; color:blue">Bắt đầu trò chuyện</p>
                            <i class="fas fa-chevron-circle-right" style="color:blue"></i>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-3" style="text-align: center">
                            <i class="fas fa-envelope" style="font-size:60px"></i>
                        </div>
                        <div class="col-9">
                            <p style="font-size:20px; font-weight: bold; color:blue">EMAIL HỖ TRỢ SẢN PHẨM</p>
                            <p style="font-size:15x">Chúng tối sẽ phản hồi trong vòng 24 giờ từ khi nhận được email của
                                bạn.</p>
                            <p style="float: left;font-size:20px; font-weight: bold; color:blue">Gửi email hỗ trợ sản
                                phẩm</p><i class="fas fa-chevron-circle-right" style="color:blue"></i>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-3" style="text-align: center">
                            <i class="fas fa-phone-alt" style="font-size:60px"></i>
                        </div>
                        <div class="col-9">
                            <p style="font-size:20px; font-weight: bold; color:blue">ĐIỆN THOẠI</p>
                            <p style="font-size:15x">Gọi điện trực tiếp đến tổng đài chăm sóc khách hàng của OT để nhận
                                thêm trợ giúp.<br>
                                Nếu Quý Khách chưa tìm được nội dung cần thiết từ trang Web này, vui lòng liên lạc với
                                chúng tôi theo thông tin bên dưới:<br>
                                Trung Tâm Chăm Sóc Khách hàng – Công ty Online Training:<br>
                                Số điện thoại miễn phí: 1800-999-999.</p>
                            <p style="float: left;font-size:20px; font-weight: bold; color:blue">Hỗ trợ sản
                                phẩm</p><i class="fas fa-chevron-circle-right" style="color:blue"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>