<div class="container" style="padding-left: 20px;padding-right:20px" >
    <div class="row" style="margin:auto">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['']" style="font-weight: bold">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/gioithieu']" style="font-weight: bold">Giới thiệu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/lienhe']" style="font-weight: bold">Liên hệ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="font-weight: bold">Góp ý</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="font-weight: bold" >Hỏi đáp</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/tracnghiem']" style="font-weight: bold" >Thi trắc nghiệm</a>
                        </li>
                    </ul>
                    <form class="form-inline">
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle">
                                Tài khoản
                            </a>
                            <div class="dropdown-content">
                                <a class="dropdown-item" [routerLink]="['/dangky']">Đăng ký</a>
                                <a class="dropdown-item" [routerLink]="['/dangnhap']">Đăng nhập</a>
                                <a class="dropdown-item" [routerLink]="['/quenmatkhau']">Quên mật khẩu</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" >Đăng xuất</a>
                                <a class="dropdown-item" [routerLink]="['/doimatkhau']">Đổi mật khẩu</a>
                                <a class="dropdown-item" [routerLink]="['/doitaikhoan']">Đổi tài khoản</a>
                            </div>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
        <div class="col-12">
            <div>
                <img src="../../assets/banner.png" style="width: 100%">
            </div>
        </div>
        <div class="col-12">
            <div class="row mt-3">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card text-center">
                                <div>
                                    <img src="../../assets/ADBS.jpg">
                                </div>
                                <div>
                                    <p>Lập trình Android nâng cao</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card text-center">
                                <div>
                                    <img src="../../assets/WEBU.jpg">
                                </div>
                                <div>
                                    <p>Xây dựng trang web</p>
                                </div>
                            </div>
                        </div>
                        <div class="w-100">
                            <br>
                        </div>

                        <div class="col-md-6">
                            <div class="card text-center">
                                <div>
                                    <img src="../../assets/DBBS.png">
                                </div>
                                <div>
                                    <p>Cơ sở dữ liệu</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card text-center">
                                <div>
                                    <img src="../../assets/DBAV.png">
                                </div>
                                <div>
                                    <p>SQL Sever</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fas fa-th-list">DANH MỤC MÔN HỌC</i></li>
                        <a href="">
                            <li class="list-group-item">Lập trình Android nâng cao</li>
                        </a>
                        <li class="list-group-item">Cơ sở dữ liệu</li>
                        <a href="">
                            <li class="list-group-item">SQL Sever</li>
                        </a>
                        <li class="list-group-item">Internet Marketing</li>
                        <li class="list-group-item">Lập trình hướng đối tượng với Java </li>
                        <li class="list-group-item">Lập trình PHP</li>
                        <li class="list-group-item">Điện toán đám mây</li>
                        <li class="list-group-item">Lập trình Android cơ bản</li>
                        <li class="list-group-item">Lập trình game 2D</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>